<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
</head>
<body>

    <h2> Select the songs you like in the list below</h2>
    <p>(Ctrl + Click to select multiple songs)</p>

    <form class = "ey" method="POST" action="{{ url_for('submitForm') }}" > <!-- note action -->
        <select multiple name= songs method="GET" action="/" size="20">
            {% for song in songs %}
            <option value= "{{song}}" >{{songs[song]['title']}} -- {{songs[song]['artist_name']}}</option>"
            {% endfor %}
        </select>
        <button type="submit">GO</button>
    </form>

</body>
</html>
